apiVersion: 1
datasources:
- name: Loki
  type: loki
  access: proxy 
  orgId: 1
  url: http://loki:3100
  basicAuth: false
  isDefault: true
  version: 1
  timeout: '120'
  editable: true

- name: Prometheus 
  type: prometheus
  access: proxy 
  orgId: 1
  url: http://uyuni-health-check-prometheus:9090
  editable: false
